flask<3
python-dotenv
black
isort
requests<3
icalendar<5
caldav<0.9
num2words<0.6
humanize<4
lxml==4.6.4
Flask-Caching
gunicorn
google-api-python-client<3
google-auth-httplib2<0.3
google-auth-oauthlib<2